.cards-esg-wrapper {
  background-color: var(--background-color);
  padding: 48px 0;
}

.cards-esg > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.cards-esg > ul > li {
  background-color: var(--color-light-blue-bg);
  overflow: hidden;
  padding: 32px;
  border-radius: 0;
}

.cards-esg .cards-esg-card-body {
  margin: 0;
}

.cards-esg .cards-esg-card-body h4 {
  font-size: var(--heading-font-size-m);
  font-weight: 800;
  color: var(--color-navy);
  margin-top: 8px;
  line-height: 1.2;
}

.cards-esg .cards-esg-card-body p {
  font-size: var(--body-font-size-s);
  line-height: 1.5;
}

.cards-esg .cards-esg-card-body a {
  font-weight: 700;
  font-size: var(--body-font-size-xs);
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.cards-esg .cards-esg-card-image {
  line-height: 0;
}

.cards-esg > ul > li img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 8px;
}

@media (width >= 900px) {
  .cards-esg > ul {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
