.cards-text > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.cards-text > ul > li {
  background-color: var(--color-light-blue-bg);
  padding: 32px;
  overflow: hidden;
}

.cards-text .cards-text-card-body {
  margin: 0;
}

.cards-text .cards-text-card-body p {
  font-size: var(--body-font-size-s);
  line-height: 1.5;
}

.cards-text .cards-text-card-image {
  line-height: 0;
}

.cards-text > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (width >= 900px) {
  .cards-text > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
